.css-pdct74-MuiTablePagination-selectLabel{
    margin-top: auto!important;
}

 .css-levciy-MuiTablePagination-displayedRows{
    margin-top: auto;
 }

 .MuiAccordion-region{
    min-height: 700px !important;


 }